@import url(../Css/checkout.css);

/* .cart-main */
.cart-main {
    padding: 6%;
    font-family: var(--custom-font);
    color: var(--custom-black);
}

/* .cart-area */
.cart-area {
    margin-top: 4%;
    display: flex;
    justify-content: center;
    gap: 50px;
}

/* .cart-left */
.cart-area .cart-left {
    width: 70%;
}

/* .cart-right */
.cart-area .cart-right {
    width: 30%;
}

/* cart-left-ul */
.cart-area .cart-left ul {
    list-style: none;
}

/* .cart-area .cart-left Header wishlist-area-header */
.cart-area .cart-left ul li:first-child,
.wishlist-area ul li:first-child {
    background-color: #f1f3f4;
    font-size: 0.875rem;
    font-weight: 500;
    padding: 10px 0;
}

.cart-area .cart-left ul li {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.cart-area .cart-left ul li:first-child div:first-child,
.wishlist-area ul li:first-child div:first-child {
    padding-left: 30px;
}

.cart-area .cart-left ul li .ca-product-img-area,
.cart-area .cart-left ul li:first-child div:first-child,
.wishlist-main .wishlist-area ul li .wa-product-img-area,
.wishlist-main .wishlist-area ul li:first-child div:first-child {
    width: 50%;
}

.cart-area .cart-left ul .cart-area-product-item .ca-product-price,
.cart-area .cart-left ul .cart-area-product-item .ca-product-quantity,
.cart-area .cart-left ul .cart-area-product-item .ca-product-action,
.cart-area .cart-left ul li:first-child div:not(:first-child),
.wishlist-main .wishlist-area .wishlist-area-product-item .wa-product-price,
.wishlist-main .wishlist-area .wishlist-area-product-item .wa-product-add-to-cart-area,
.wishlist-main .wishlist-area .wishlist-area-product-item .wa-product-action,
.wishlist-main .wishlist-area ul li:first-child div:not(:first-child) {
    width: 20%;
}

/* <!-- cart-left product --> */
.cart-area .cart-left ul .cart-area-product-item .ca-product-img-area,
.cart-area .cart-left ul .cart-area-product-item .ca-product-price,
.cart-area .cart-left ul .cart-area-product-item .ca-cart-quantity,
.cart-area .cart-left ul .cart-area-product-item .ca-product-quantity,
.cart-area .cart-left ul .cart-area-product-item .ca-product-action,
.wishlist-main .wishlist-area .wishlist-area-product-item .wa-product-img-area,
.wishlist-main .wishlist-area .wishlist-area-product-item .wa-product-price,
.wishlist-main .wishlist-area .wishlist-area-product-item .wa-product-add-to-cart-area,
.wishlist-main .wishlist-area .wishlist-area-product-item .wa-product-action {
    display: flex;
    align-items: center;
}

.cart-area .cart-left ul .cart-area-product-item .ca-product-img,
.wishlist-main .wishlist-area .wishlist-area-product-item .wa-product-img-area .wa-product-img {
    background-color: #f1f3f4;
    margin-right: 20px;
}

.cart-area-product-item,
.wishlist-area-product-item {
    border-bottom: 1px solid var(--custom-border);
    padding: 30px 0;
}

.cart-area .cart-left ul .cart-area-product-item .ca-product-img img,
.wishlist-area .wishlist-area-product-item .wa-product-img img {
    width: 100px;
    object-fit: contain;
}

.cart-area .cart-left ul .cart-area-product-item .ca-product-quantity .ca-cart-quantity {
    border: 1px solid var(--custom-border);
    padding: 5px 10px;
    border-radius: 50px;
}

.cart-area .cart-left ul .cart-area-product-item .ca-product-quantity .ca-cart-input,
.cart-area .cart-left ul .cart-area-product-item .ca-product-quantity .ca-cart-minus,
.cart-area .cart-left ul .cart-area-product-item .ca-product-quantity .ca-cart-plus {
    margin: 0 5px;
}

.cart-area-product-item .ca-product-quantity .ca-cart-input input[type=text] {
    border: none;
    text-align: center;
    width: 30px;
    font-family: var(--custom-font);
}

.cart-area .cart-left ul .cart-area-product-item .ca-product-action i,
.wishlist-main .wishlist-area .wishlist-area-product-item .wa-product-action .wa-product-action-btn i {
    margin-right: 5px;
}

.cart-area .cart-left ul .cart-area-product-item .ca-product-action .ca-product-action-btn,
.wishlist-main .wishlist-area .wishlist-area-product-item .wa-product-action .wa-product-action-btn {
    font-family: var(--custom-font);
    color: #818487;
    background-color: white;
    border: none;
    transition: all 0.3s ease-out;
}

.cart-area .cart-left ul .cart-area-product-item .ca-product-action .ca-product-action-btn:hover,
.wishlist-main .wishlist-area .wishlist-area-product-item .wa-product-action .wa-product-action-btn:hover {
    color: red;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

/* <!-- cart-left bottom  --> */
.cart-left .cart-left-bottom {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.cart-left .cart-left-bottom .cart-couponcode-input {
    height: 50px;
    font-family: var(--custom-font);
    font-size: 0.90rem;
    margin-top: 10px;
    width: 280px;
    border: 1px solid var(--custom-border);
    padding: 0 15px;
    transition: all 0.3s ease-out;
}

.cart-left .cart-left-bottom .cart-couponcode-input:focus {
    border: 1px solid var(--custom-black);
    transition: all 0.3s ease-out;
}

.cart-left .cart-left-bottom .cart-coupon-submit-btn {
    height: 50px;
    border: none;
    background-color: var(--custom-black);
    font-family: var(--custom-font);
    font-weight: 500;
    padding: 10px 30px;
    color: white;
    transition: all 0.3s ease-out;
}

.cart-left .cart-left-bottom .cart-coupon-submit-btn:hover {
    transition: all 0.3s ease-out;
    background-color: var(--custom-blue);
    cursor: pointer;
}

.cart-left .cart-left-bottom .clear-cart .clear-cart-btn {
    background-color: #fff;
    border: 1px solid var(--custom-border);
    font-family: var(--custom-font);
    font-size: 1rem;
    font-weight: 500;
    padding: 10px 30px;
    height: 50px;
    transition: all 0.3s ease-out;
}

.cart-left .cart-left-bottom .clear-cart .clear-cart-btn:hover {
    background-color: var(--custom-blue);
    color: white;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

/* .cart-right */
.cart-area .cart-right {
    background-color: #fff;
    padding: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    height: fit-content;
}

.cart-right ul {
    list-style: none;
}

.cart-area .cart-right ul li {
    margin-bottom: 15px;
    padding-bottom: 10px;
}

.cart-area .cart-right ul li:not(:last-child) {
    border-bottom: 1px solid var(--custom-border);
}

.cart-area .cart-right ul .sub-total-header,
.cart-area .cart-right ul .total-amount-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    font-size: 1.2rem;
}

.cart-area .cart-right ul .shipping>div {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.cart-area .cart-right ul .shipping .flat-rate,
.cart-area .cart-right ul .shipping .local-pickup-rate {
    color: var(--custom-blue);
}

.cart-area .cart-right ul .shipping>p {
    font-weight: 500;
    margin-bottom: 7px;
}

.cart-area .cart-right .checkout-proceed .checkout-proceed-btn {
    width: 100%;
    height: 50px;
    border: none;
    font-family: var(--custom-font);
    background-color: var(--custom-black);
    color: white;
    font-size: 1rem;
    font-weight: 500;
    transition: all 0.3s ease-out;
}

.cart-area .cart-right .checkout-proceed .checkout-proceed-btn:hover {
    background-color: var(--custom-blue);
    cursor: pointer;
    transition: all 0.3s ease-out;
}