* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

:root {
    --custom-font: 'Jost', sans-serif;
    --custom-blue: #0989FF;
    --custom-black: #010F1C;
    --custom-border: #D5D8DB;
}

input {
    outline: none;
}

a {
    text-decoration: none;
    color: currentColor;
}

/* .s-header */
.s-header {
    position: relative;
    background-color: #ffff;
    box-shadow: 0px 2px 6px #010f1c29;
}


/* .s-nav-top */
.s-nav {
    background-color: #fff;
    width: 100%;
    font-family: var(--custom-font);
    padding: 8px 6%;
    line-height: 26px;
    border-bottom: 1px solid rgba(1, 15, 28, .1);
}

/* S-NavTop-Info */
.s-nav-top>div {
    display: flex;
    gap: 30px;
    padding: 0 10px;
}

.s-nav-top>div>div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.95rem;
    gap: 7px;
}

.s-nav-top .info-item>div i {
    color: var(--custom-blue);
}

.s-nav-top .info-item>div>p {
    color: #010f1ccc;
}

.s-nav-top .info-item div:nth-child(2) {
    width: 1px;
    background-color: #010f1c1a;
}

.s-nav-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* .s-nav-top-right */
.s-nav-top>div>ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 20px;
}

.s-nav-top-right>ul>li {
    color: var(--custom-black);
    position: relative;
}

.s-nav-top-right>ul>li ul {
    background-color: white;
    text-align: center;
    border-radius: 5px;
    list-style: none;
    position: absolute;
    width: 100%;
    z-index: 1;
    box-shadow: 0 1px 3px #03041c1f;
    display: none;
}

/* S-nav-bottom */
.s-nav-bottom {
    background-color: #fff;
    width: 100%;
    padding: 16px 6%;
    font-family: var(--custom-font);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* S-Nav-Logo  */
.s-nav-bottom .s-nav-logo img {
    height: 35px;
}

/* S-Nav-Items */
.s-nav-list-item ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 15px;
    color: var(--custom-black);
}

/* S-Nav-search */
.s-nav-search {
    background-color: #f8f8f8;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 300px;

}

.s-nav-search input {
    background-color: #f8f8f8;
    border: 1px solid rgba(1, 15, 28, .1);
    outline: none;
    position: relative;
    width: 100%;
    height: 50px;
    padding: 0 40px 0 15px;
    font-family: var(--custom-font);
    transition: all 0.2s ease-out;
    caret-color: #55585b;
}

.s-nav-search input:focus {
    border: 1px solid var(--custom-blue);
    transition: all 0.2s ease-out;
}

.s-nav-search i {
    color: #55585b;
    position: absolute;
    right: 15px;
}

/* S-Nav Cart  */
.s-nav-cart a #heart-icon #Stroke-1,
.s-nav-cart a #heart-icon #Stroke-3,
.s-nav-cart a svg path {
    color: var(--custom-black);
    transition: all 250ms ease-out;
}

.s-nav-cart a:hover #heart-icon #Stroke-1,
.s-nav-cart a:hover #heart-icon #Stroke-3,
.s-nav-cart a:hover svg path {
    stroke: var(--custom-blue);
    transition: all 250ms ease-out;
}

.s-nav-cart {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.s-nav-cart-number {
    background-color: var(--custom-blue);
    font-weight: bold;
    color: white;
    font-size: 12px;
    display: inline-block;
    height: 25px;
    width: 25px;
    text-align: center;
    line-height: 21px;
    border: 3px solid white;
    border-radius: 50%;
    position: absolute;
    margin-top: -10px;
    margin-left: -8px;
}

/* checkout-main */
.checkout-main {
    padding: 6%;
    font-family: var(--custom-font);
    background-color: #eff1f5;
}

/* .checkout-breadcrumb */
.checkout-breadcrumb h1 {
    font-size: 2.7rem;
    color: var(--custom-black);
    margin-bottom: 10px;
}

.checkout-breadcrumb ul {
    display: flex;
    align-items: center;
    gap: 30px;
    color: #55585b;
}

.checkout-breadcrumb ul li:first-child {
    list-style: none;
}

/* .verify-area */
.verify-area {
    margin-top: 40px;
    width: calc(60% - 31.1px);
}

/* User login  and Coupon Area*/
.login-header,
.coupon-header {
    width: 100%;
    padding: 8px 20px;
    border: 1.5px dashed #d1d4d8;
    margin: 20px 0;
}

.login-header span:nth-child(2),
.coupon-header span:nth-child(2) {
    cursor: pointer;
    color: var(--custom-blue);
    text-decoration: underline;
}

/* Login Form and Coupon Form */
.login-form,
.coupon-form {
    margin: 20px 0;
    width: 100%;
    padding: 50px;
    background-color: #fff;
    display: none;
}

.login-form form,
.coupon-form form,
.checkout-left {
    display: flex;
    flex-direction: column;
}

.login-form form label,
.coupon-form form label {
    width: fit-content;
}

.login-form form input,
.coupon-form form input,
.checkout-left input {
    font-family: var(--custom-font);
    height: 50px;
    margin: 10px 0;
    padding: 0 15px;
    border: 1px solid var(--custom-border);
    transition: all 250ms ease-out;
    font-size: 1rem;
}

.login-form form input:focus,
.coupon-form input:focus,
.checkout-left input:focus,
.checkout-left textarea:focus {
    border: 1px solid var(--custom-black);
    transition: all 250ms ease-out;
}

.check-forgot-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.checkbox-container {
    display: flex;
    align-items: center;
}

.checkbox-container input[type="checkbox"] {
    margin-right: 7px;
    width: 18px;
    height: 17px;
}

.login-form .forgot a {
    text-decoration: none;
    color: var(--custom-blue);
}

.login-form form button,
.coupon-form button {
    border: none;
    height: 50px;
    margin-top: 10px;
    font-size: 1rem;
    color: white;
    font-family: var(--custom-font);
    background-color: var(--custom-black);
    transition: all 0.3s ease-out;
}

.login-form form button:hover,
.coupon-form button:hover {
    background-color: var(--custom-blue);
    transition: all 0.3s ease-out;
    cursor: pointer;
}

/* <!-- ==========Checkout Area========== --> */
.checkout-area form {
    display: flex;
    gap: 50px;
}

.checkout-left {
    width: 60%;
    background-color: #fff;
    padding: 50px;
    color: var(--custom-black);
}

.checkout-right {
    width: 40%;
    padding: 50px;
    background-color: #fff;
    color: var(--custom-black);
}

/* Checkout Left */
.checkout-area form .star {
    color: red;
}

.checkout-left h3,
.checkout-right h3 {
    font-weight: 600;
    margin-bottom: 15px;
    font-size: 1.6rem;
}

.checkout-left .name-area,
.checkout-left .state-area {
    display: flex;
    gap: 40px;
}

.checkout-left .name-area div,
.checkout-left .state-area>div {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.checkout-left label {
    width: fit-content;
    font-weight: 500;
    margin-top: 10px;
}

.checkout-left textarea {
    outline: none;
    margin-top: 10px;
    padding: 10px;
    resize: none;
    font-family: var(--custom-font);
    font-size: 1rem;
    border: 1px solid var(--custom-border);
    transition: all 250ms ease-out;
}

/* Checkout Right  */
.checkout-right {
    height: fit-content;
}

.checkout-right ul {
    list-style: none;
}

.checkout-right ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
}

.checkout-right ul li:not(:last-child) {
    border-bottom: 1px solid #E0E2E3;
}

.checkout-right ul .product-list p:first-child {
    color: #55585B;
}

.checkout-right ul .product-list span {
    color: var(--custom-black);
    font-weight: 500;
}

.checkout-right ul .subtotal p:last-child,
.checkout-right ul .shipping span {
    color: var(--custom-blue);
}

.checkout-right .shipping div {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;
}

.checkout-right .shipping div input {
    margin-left: 5px;
}

.checkout-right ul li:last-child,
.checkout-right ul li:first-child {
    font-weight: 500;
    font-size: 1.1rem;
}

/* .checkout-payment */
.checkout-payment {
    padding-bottom: 30px;
    border-bottom: 1px solid #E0E2E3;
}


.checkout-payment div label {
    font-weight: 500;
}

.checkout-payment div {
    margin-top: 15px;
}

.checkout-payment .checkout-payment-info div {
    position: absolute;
    background-color: #f6f7f9;
    height: 20px;
    width: 20px;
    top: -25px;
    rotate: 45deg;
}

.checkout-payment .checkout-payment-info {
    position: relative;
    background-color: #f6f7f9;
    padding: 20px;
    font-size: 0.90rem;
    display: none;
}

/* checkout-submit */
.checkout-submit button {
    width: 100%;
    height: 50px;
    font-size: 1rem;
    font-weight: 500;
    border: none;
    color: white;
    font-family: var(--custom-font);
    background-color: var(--custom-blue);
    transition: all 0.3s ease-out;
}

.checkout-submit button:hover {
    cursor: pointer;
    color: white;
    background-color: var(--custom-black);
    transition: all 0.3s ease-out;
}

/* Footer */
.s-footer {
    font-family: var(--custom-font);
}

footer {
    background-color: #f4f7f9;
    padding: 6% 6% 2% 6%;
    width: 100%;
}

footer .navbar-logo {
    height: 35px;
}

.top-footer {
    display: flex;
    gap: 90px;
}

.social-area,
.account-area,
.information-area,
.contact-us-area {
    width: 20%;
}

.social-area div {
    margin-bottom: 25px;
    color: #010f1c;
    font-size: 1.1rem;
}

.social-area div:nth-child(3) a {
    background-color: #fff;
    display: inline-block;
    border-radius: 6px;
    height: 40px;
    width: 40px;
    line-height: 40px;
    margin-right: 5px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    transition: all 0.3s ease-out;
}

.social-area div:nth-child(3) a:hover {
    background-color: #0989FF;
    color: white;
    transition: all 0.3s ease-out;
}

.information-area h3,
.account-area h3,
.contact-us-area h3 {
    font-size: 1.4rem;
    color: #010f1c;
    margin-bottom: 20px;
}

.information-area ul li,
.account-area ul li {
    list-style: none;
    margin-bottom: 20px;
    font-size: 0.89rem;
    color: #55585B;
    transition: all 0.3s ease-out;
}

.information-area ul li a:hover,
.account-area ul li a:hover,
.contact-us-area>div>h4 a:hover,
.contact-us-area>div:nth-child(3) div a:hover {
    color: #0989FF;
    transition: all 0.3s ease-out;
}

.contact-us-area div {
    margin-top: 15px;
}

.contact-us-area>div>span {
    color: #55585B;
}

.contact-us-area>div>h4 a {
    font-size: 1.3rem;
    color: #010f1c;
}

.contact-us-area>div:nth-child(3) div {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #55585B;
}

.bottom-footer {
    margin-top: 3%;
    padding: 2% 0;
    border-top: 1px solid rgba(1, 15, 28, .1);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bottom-footer img {
    width: 60px;
}