/* univershal style for product page. */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: currentColor;
}

header {
    height: 112px;
    width: 100%;
    background-color: blue;
}

/* productpage bredcrab style */
.productpage-breadcrumbs {
    padding: 1% 5%;
}

.productpage-breadcrumbs i {
    color: #55585B;
}

.productpage-dot {
    color: #55585B;
    font-size: 1.5cm;
}

.productpage-breadcrumbs a {
    color: #55585B;
    text-decoration: none;
    font-family: 'Baloo Bhai 2', sans-serif;
    font-size: large;
}

#current-product a {
    color: rgb(30, 29, 29);
}

/* Product details area style */
.productpage-product-details-area {
    display: flex;
    width: 100%;
    padding: 2% 5% 8% 5%;
}

.productpage-product-image-left {
    display: flex;
    width: 50%;
    height: 98%;
    position: sticky;
    top: 120px;
}

.productpage-product-description-right {
    display: flex;
    width: 50%;
    justify-content: flex-end;
}

.product-mini-image-area {
    width: 15%;
    min-width: 90px;
    padding-left: 5px;
}

.product1-cyan-headphone,
.product1-darkgray-headphone,
.product1-orange-headphone {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin-top: 4%;
    width: 75px;
    background-color: #f5f6f8;
}

.product1-cyan-headphone img,
.product1-darkgray-headphone img,
.product1-orange-headphone img {
    width: 70px;
}

.product-main-image-area {
    position: sticky;
    top: 120px;
}

.product-main-image-area img {
    background-color: #f5f6f8;

}

.product-category,
.product-name-title,
.product-review,
.product-small-description,
.product-price,
.product-color,
.cart-section,
.flash-sale,
.more-product-details,
.share-section,
.benefits,
.payment-option {
    padding: 2% 0%;
}

.product-description {
    width: 80%;
}

.product-category {
    font-family: 'Baloo Bhai 2', sans-serif;
    font-size: large;
    color: #55585B;
}

.product-name-title {
    font-size: 28px;
    font-family: 'Jost', sans-serif;
    font-weight: bolder;
}

.product-availability,
.stars,
.number-of-reviews {
    padding: 0% 2% 0% 0%;
}

.product-availability {
    font-family: 'Jost', sans-serif;
    color: blue;
    font-weight: 700;
    font-size: 15px;
}

.stars i {
    color: #ffb21d;
    font-size: smaller;
}

.number-of-reviews {
    font-family: 'Jost', sans-serif;
    color: #55585B;
}

.product-small-description {
    font-family: 'Jost', sans-serif;
    color: #55585B;
}

.product-price span {
    padding-right: 1%;
}

.reguler-price {
    font-size: 16px;
    font-family: 'Jost', sans-serif;
    color: #767a7d;
    text-decoration: line-through;
}

.current-price {
    font-size: 24px;
    font-family: 'Jost', sans-serif;
    color: #010F1C;
    font-weight: bolder;
}

.product-color h4 {
    color: #010F1C;
    font-size: 15px;
    font-family: 'Jost', sans-serif;
}

.color-option span {
    display: inline-block;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.cyan {
    background-color: cyan;
}

.darkgray {
    background-color: #484848;
}

.orange {
    background-color: orange;
}

.flash-sale {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 2% 5%;
    border: 2px solid #FD4B6B;
}

.flash-sale-text,
.flash-sale-timer {
    font-family: 'Jost', sans-serif;
    font-size: 18px;
    color: #FD4B6B;
    letter-spacing: 1%;
}

.flash-sale-text h4 {
    display: inline;
    font-family: 'Jost', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #FD4B6B;
}

/* cart section style */
.cart-section h3 {
    font-family: 'Jost', sans-serif;
    font-size: 16px;
    padding: 2%;
}

.product-quantity-addtocart {
    padding: 2% 0%;
    display: flex;
    justify-content: space-between;
}

.product-quantity-controler {
    width: 25%;
    padding: 2%;
    background-color: #f5f6f8;
}

.product-quantity {
    font-size: 20px;
    position: relative;
    left: 18px;
    padding: 4%;
}

.quantity-minus {
    position: relative;
    top: -6px;
    padding: 4%;
}

.quantity-plus {
    position: relative;
    left: 38px;
    padding: 4%;
}

.quantity-plus:hover,
.quantity-minus:hover {
    color: #0989ff;
    background-color: white;
    border-radius: 50%;
}

.add-to-cart {
    width: 70%;
    background-color: white;
    border: 1px solid #767a7d;
    color: #010F1C;
    font-family: 'Jost', sans-serif;
    font-weight: bold;
    font-size: 16px;
}

.add-to-cart:hover {
    background-color: #010F1C;
    color: white;
    transition-duration: 500ms;
}

.buy-now {
    width: 100%;
    padding: 2%;
    font-family: 'Jost', sans-serif;
    font-size: 16px;
    font-weight: bolder;
    background-color: #0989ff;
    border-color: white;
    box-shadow: none;
    text-align: center;
    outline: none;
    border: none;
    color: white;
}

.buy-now:hover {
    background-color: #010F1C;
    transition-duration: 500ms;
}

.sku-section,
.category-section,
.tag-section {
    display: flex;
}

.category-q,
.sku-q,
.tag-q,
.share-text {
    padding-right: 2%;
    font-family: 'Jost', sans-serif;
    font-size: 15px;
    color: #010F1C;
}

.category-a,
.sku-a,
.tag-a {
    padding-right: 2%;
    font-family: 'Jost', sans-serif;
    font-size: 15px;
    color: #767a7d;
}

.share-section {
    display: flex;
    width: 100%;
    align-items: center;
}

.share-option {
    width: 40%;
    display: flex;
    justify-content: space-evenly;
}

.facebook,
.twitter,
.linkedin,
.vimeo {
    display: flex;
    height: 30px;
    width: 30px;
    border: 1px solid #767a7d;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

.facebook :hover,
.twitter :hover,
.linkedin :hover,
.vimeo :hover {

    display: flex;
    height: 30px;
    width: 30px;
    border: 0.2px solid #0989ff;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    background-color: #0989ff;
}

.facebook i:hover,
.twitter i:hover,
.linkedin i:hover,
.vimeo i:hover {
    color: white;
}

.facebook a,
.twitter a,
.linkedin a,
.vimeo a {
    text-decoration: none;
    color: #484848;
}

.benefits i {
    padding-right: 2%;
}

.benefits {
    color: #767a7d;
}

.payment-option {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f5f6f8;
}

.payment-text {
    line-height: 0.5cm;
}

/* description additional information and reviews nav section style  */

.desc-addinfo-review-nav {
    display: flex;
    justify-content: center;

}

.description,
.additional-info,
.review {
    font-size: 20px;
    font-family: 'Jost', sans-serif;
    color: #767a7d;
    font-weight: 600;
    padding: 5px 0px 5px 0px;
}

.description :hover,
.additional-info :hover,
.review :hover {
    color: #010f1c;
    cursor: pointer;
}

/* .description :active,
.additional-info :active,
.review :active{
    border-bottom:2px solid #010F1C;
} */
.additional-info,
.review {
    padding: 5px 0px 5px 40px;
}

/* description additional information and reviews nav section style starts */
.desc-addinfo-review-display {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 5% 0% 8% 0%;
}

.current-display {
    width: 90%;
    display: flex;
    justify-content: center;
}

/* description display style start */

.description-display {
    width: 80%;
    display: none;
}

.description-product-catagory p {
    font-size: 20px;
    font-family: 'Jost', sans-serif;

}

.description-product-name {
    font-size: 34px;
    font-family: 'Jost', sans-serif;
    padding-bottom: 1%;
}

.description-about-product {
    font-size: 16px;
    font-family: 'Jost', sans-serif;
    line-height: 1.6;
    word-spacing: 2px;
    font-weight: 600;
    color: #484848;
}

/* additional display style  */
.additional-information-display {
    display: none;
    width: 80%;
}

.additional-information-table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    font-size: 16px;
    font-family: 'Jost', sans-serif;
    font-weight: 600;
}

.additional-information-table tr td:first-child {
    background-color: #f2f2f2;
    border: 0.5px solid #ddd;
    color: #010F1C;
    border-right: none;
    width: 25%;
    padding: 12px 34px;
}

.additional-information-table tr td:last-child {
    padding: 12px 34px;
    border: 1px solid #ddd;
    color: #55585B;
    border-left: none;
}

/* review display style  */
.review-display {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.review-stats,
.review-input {
    width: 50%;
    padding: 0% 1%;
}

/* costomer review style  */
.customer-review {
    width: 75%;
    padding: 4% 5%;
    border: 0.5px solid #ddd;
    font-family: 'Jost', sans-serif;
    margin-bottom: 50px;
}

.customer-review-text h3 {
    font-size: 20px;
    color: #010F1C;
    font-weight: 500;
    padding-bottom: 1%;
}

.avarage-rating-container,
.container-of-5star,
.container-of-4star,
.container-of-3star,
.container-of-2star,
.container-of-1star {
    display: flex;
    align-items: center;
}

.container-of-5star,
.container-of-4star,
.container-of-3star,
.container-of-2star,
.container-of-1star {
    line-height: 26px;
}

.avarage-rating,
.star-review {
    padding-right: 2%;
}

.avarage-rating h3 {
    font-size: 40px;
    font-weight: 500;
}

.star-review i {
    color: #ffb21d;
}

.star-count {
    font-size: 15px;
    color: #a0a2a4;
    padding-right: 2%;
}

.total-percentage {
    width: 79%;
    height: 10px;
    background-color: #edeeee;
    margin-right: 2%;
}

.rated-percentage-5star,
.rated-percentage-4star,
.rated-percentage-3star,
.rated-percentage-2star,
.rated-percentage-1star {
    height: 10px;
    background-color: #ffb21d;
    line-height: 26px;
}

.rated-percentage-5star {
    width: 82%;
}

.rated-percentage-4star {
    width: 30%;
}

.rated-percentage-3star {
    width: 15%;
}

.rated-percentage-2star {
    width: 6%;
}

.rated-percentage-1star {
    width: 10%;
}

.percentage-of-rating {
    font-size: 14px;
    font-weight: 400;
}

.rating-and-detailed-review {
    width: 85%;

    font-family: 'Jost', sans-serif;

}

.rating-and-review-text h3 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 22px;
    color: #010F1C;
}

.review-of-user1-container {
    margin-bottom: 32px;
}

.review-of-user1-container,
.review-of-user2-container {
    display: flex
}

.image-user {
    margin-right: 4%;
}

.image-user img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.small-star {
    font-size: 10px;
    color: #ffb21d;
}

.user-name h3 {
    display: inline;
    font-size: 16px;
    font-weight: 500;
    color: #010F1C;
}

.review-dot {
    display: inline-block;
    position: relative;
    bottom: 3px;
    height: 4px;
    width: 4px;
    border-radius: 50%;
    background-color: rgb(168, 172, 176);
}

.review-date {
    font-size: 14px;
    color: #55585B;
}

.user-review p {
    font-size: 14px;
    line-height: 1.4;
    font-weight: 400;
    color: #55585B;
}

/* review-form-including Heading and instruction-style */
.review-input {
    font-family: 'Jost', sans-serif;
}

.review-the-product h3 {
    font-size: 28px;
    font-weight: 500;
    color: #010F1C;
    margin-bottom: 4px;
}

.review-the-product p {
    font-size: 16px;
    font-weight: 400;
    color: #55585B;
}

.review-the-product {
    margin-bottom: 8px;
}

.your-rating {
    display: flex;
    align-items: center;
    margin-bottom: 28px;
}

.your-rating p {
    font-size: 14px;
    font-weight: 400;
    color: #55585B;
    margin-right: 8px;
}

.default-input-area-size {
    padding: 17px 26px;
    width: 100%;
    border: 1px solid #E0E2E3;
}

.default-lebel {
    position: relative;
    left: 17px;
    top: 11px;
    background-color: white;
    padding: 0px 5px 0px 5px;
}

.your-review textarea {
    height: 165px;
    resize: none;
}

.checkbox {
    padding-bottom: 26px;
}

.checkbox label {
    color: #55585B;
    font-size: 15px;
}

.review-form form button {
    font-size: 16px;
    font-weight: 500;
    color: white;
    padding: 13px 45px;
    background-color: #0989ff;
    border: none;
}

.related-products {

    width: 100%;
    padding: 90px 0px 120px 0px;
}

.related-product-heading {
    width: 90%;
    text-align: center;
    font-family: 'Jost', sans-serif;
    margin: auto;
    margin-bottom: 40px;
}

.related-product-heading p {
    font-size: 18px;
    color: #0989ff;
    text-transform: capitalize;
}

.related-product-heading h3 {
    font-size: 44px;
    font-weight: 500;
    color: #010F1C;
    padding-bottom: 2%;
}

.related-products-area {
    width: 90%;
    display: flex;
    margin: auto;
}



.off-percentage {
    position: absolute;
    top: 16px;
    left: 13px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #010F1C;
    color: white;
    text-align: center;
    line-height: 40px;
    font-weight: 500;

}

.related-product {
    width: 22%;
    font-family: 'Jost', sans-serif;
    margin-right: 2%;

}
.related-product-image-area{
    position: relative;
    overflow: hidden;
}
/* hover effects styles */
.related-product-image-area:hover .related-product-addtocart-area{
    animation: rp-add-to-cart-button 300ms ease-out  1  forwards alternate ;
}
.related-product-addtocart-area{
    position: absolute; 
    width: 100%; 
   
}

@keyframes rp-add-to-cart-button {
    from{
        bottom: -40px;
    }
    to{
        bottom: 0px;
    }
}

.related-product-addtocart-area button{
    width: 100%;
    height: 40px;
    background-color: #010F1C;
    font-size: 16px;
    color: white;
}
.related-product-addtocart-area button:hover{
    width: 100%;
    height: 40px;
    background-color: #0989ff;
    color: white;
    border: none;
}
.related-product-image-area img {
    width: 100%;
    height: 354px;
    background-color: #f5f6f8;
    transition: transform 0.3s ease-in-out;
}
.related-product-image-area:hover img{
    transform: scale(1.2);
}
.related-product-cart-area{
    position: absolute;
 
   
}
.related-product-image-area:hover .related-product-cart-area{
animation: rp-cart-area 300ms ease-out 0ms 1 alternate forwards;
}
@keyframes rp-cart-area {
    from{
        right: -40px;
        top: 16px;
    }
    to{
        right: 5px;
        top: 16px;
    }
}
.cart-box, .quick-view-box, .wishlist-box{
    height: 40px;
    width: 40px;
    background-color: white;
    color: #a0a2a4;
    margin-bottom: 5px;
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cart-box:hover, .quick-view-box:hover, .wishlist-box:hover{
    height: 40px;
    width: 40px;
    background-color:#010F1C;
    color: white;
    margin-bottom: 5px;
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.related-product-cetagory {
    font-size: 12px;
    color: #55585B;
    text-transform: uppercase;
    margin-top: 12px;
}

.related-product-name {
    font-size: 20px;
    font-weight: 400;
}

.related-product-current-price {
    font-size: 16px;
    font-weight: 500;
}

.related-product-rguler-price {
    font-size: 14px;
    font-weight: 300;
    text-decoration: line-through;
}