* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}
.pt-50{
    padding-top: 50px;
}
.pb-20{
    padding-bottom: 20px;
}
/* font-family: 'Jost', sans-serif; */
/* font-family: 'Ubuntu', sans-serif; */

.cursor-pointer {
    cursor: pointer;
}

.blue-hover:hover {
    color: #10d2f5;
    transition: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}

a {
    text-decoration: none;
    color: currentColor;
}

/* Sticky Navbar */
.header-nav {
    z-index: 3;
    position: sticky;
    top: 0;
    animation: fadeInDown 0.5s ease-in-out 0ms;
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }

    100% {
        transform: translateY(0);
    }
}

.sticky {
    display: none;
}
/*Nav Bar*/
.inner-nav{
    box-shadow: 0 2px 6px #010f1c29;
}
/* Top-Navbar */
.nav-top {
    height: 33px;
    width: 100%;
    background-color: #010f1c;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 6%;
}
.bg-white{
    background-color: #fff;
    border-bottom: 1px solid rgba(1,15,28,.1);

}
.social-section div a, .social-section div i {
    font-size: 0.938rem;
    color: #010f1ccc;
}

.social-section div i {
    color: #0989FF;
    margin-right: 5px;
}
.social-section div img {
    height: 15px;
    margin-right: 5px;
}
.nav-top>div:first-child {
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav-top.bg-white>div:first-child{
    gap: 25px;
}
.social-section>div:first-child:after {
    content: "";
    /* height: 5px; */
    border-right: 1px solid #010f1c1a;
    left: 12px;
    position: relative;
}
.nav-top div>span {
    color: rgb(222, 220, 220);
    font-size: 0.813rem;
}

/* <!-- Top Nav Link Sections --> */

.bg-white .nav-link {
    color: 010f1ccc;
    font-size: 0.813rem;
}

.nav-links {
    display: flex;
}

.nav-link,
.drop-down li {
    list-style: none;
    height: 100%;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.drop-down {
    position: absolute;
    padding: 0.5rem 0;
    margin: 0.5rem -0.5rem;
    background: rgb(255, 255, 255);
    color: black;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    font-size: 0.75rem;
    display: none;
    z-index: 2;
}

.drop-down li:hover {
    color: #10d2f5;
}

/* Middle NavBar */
.navbar {
    background-color: #fff;
    height: 74px;
    width: 100%;
    padding: 27px 5.888%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.navbar .nav-hamburger {
    display: none;
}

/* Nav Logo */
.navbar .navbar-logo, footer .navbar-logo {
    height: 35px;
}

/* Nav Search */
.navbar-search {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px 10px;
    border: 1px solid grey;
    border-radius: 50px;
}

.navbar-search input {
    outline: none;
    border: none;
    padding: 10px;
    border-radius: 15px;
    color: black;
    caret-color: gray;
}

.text-black span {
    color: black;
}

.text-black .drop-down {
    width: 150px;
    text-align: left;
}

.vertical-line {
    width: 1px;
    height: 20px;
    background-color: gray;
    content: "";
}

/* Nav Account  */
.nav-account {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.nav-account-logo {
    border: 1px solid gray;
    height: 44px;
    width: 44px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-account-logo img {
    height: 21px;
    width: 17px;
}

.nav-account-text :nth-child(1) {
    color: #767A7D;
    font-size: 0.813rem;
}

.nav-account-text :nth-child(2) {
    font-size: 0.938rem;
}

/* Nav Cart  */
.nav-cart a:hover #heart-icon #Stroke-1,
.nav-cart a:hover #heart-icon #Stroke-3,
.nav-cart a:hover svg path {
    stroke: #10d2f5;
    transition: all;
    transition-duration: 250ms;
    transition-timing-function: ease-out;
}

.nav-cart {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

}

.nav-cart-number {
    background-color: #fd4b6b;
    color: white;
    font-size: 0.75rem;
    display: inline-block;
    height: 25px;
    width: 25px;
    text-align: center;
    line-height: 21px;
    border: 3px solid white;
    border-radius: 50%;
    position: absolute;
    margin-top: -10px;
    margin-left: -8px;
}



/* Nav Bottom Items  */
.nav-menu-items {
    width: 600px;
    margin-right: 130px;
}

.inner-page .nav-menu-items {
    width: 400px;
    margin-right: 0px;
}

.nav-menu-items ul li {
    transition: all 0.2s 0s ease-out;
}

.nav-menu-items ul li:hover {
    color: #10d2f5;
    transition: all 0.2s 0s ease-out;
}

.nav-menu-items ul {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 20px;
}
.inner-page .nav-menu-items ul {
    justify-content: flex-start;
}

/*Breadcrumbs*/
.breadcrumb {
    padding: 50px 6% 20px;

}
.breadcrumb-list {
    display: flex;
    gap: 25px;
    position: relative;
}
.breadcrumb-list li::marker {
    color: #55585B;
}
.breadcrumb-list li a{
    color: #55585B;
    font-weight: 300;
}

.breadcrumb-list li:first-child {
    list-style: none;
    margin-left: 25px;
}
.breadcrumb-list li:first-child:before {
    content: "";
    width: 16px;
    /* border: 1px solid; */
    background: url(../assets/svg/home.svg) no-repeat center;
    height: 16px;
    position: absolute;
    left: 0;
}

.product-details {
    display: flex;
    width: 100%;
    padding: 0 6%;
}

.product-details-img {
    display: flex;
    width: 58%;
    gap: 10px;
   /* height: fit-content;
    position: fixed;*/
    margin-right: 20px;
    padding-right: 20px;
    height: fit-content;
    position: sticky;
    top: 30px;
}

.product-small-img {
    display: flex;
    /*width: 10%;*/
}

ul.product-img-list {
    list-style: none;
}
ul.product-img-list li{
    margin-bottom: 10px;
}
ul.product-img-list li img {
    width: 100px;
    height: 120px;
    background-color: #F4F5F7;
}

ul.product-img-list img:hover {
    border: 1px solid #000;
    transition: .3s;
}
ul.product-img-list li:first-child img {
    border: 1px solid #000;
    transition: .3s;
}
.product-main-img {
    position: relative;
}
.product-main-img img {
    background: #f4f5f7;
    max-width: 100%;
}
.product-details-area {
    width: 42%;
    padding-left: 20px;
}
.product-details-area p, .product-details-area h3, .product-details-area span, .product-details-area ul li, .product-description-tab-container p, .product-description-tab-container h3, .product-description-tab-container h4, .product-description-tab-container, .related-product, .related-product p, .related-product h2, .related-product h3, .related-product a{

    font-family: 'Jost', sans-serif;
}
.product-details-area p.product-category, .product-details-area .product-in-stock span.review-text, .product-details-area p.product-short-descriptions, .product-details-area .product-price span.regular-price, .product-details-area p.variation-title, .product-details-area .product-quantity-add-cart p.product-quantity-text,  .product-details-area p.product-sku, .product-details-area p.product-tag, .product-details-area span.product-share-text, .product-details-area ul.product-offer-list li, .product-details-area .product-payment, .product-description-tab-container p.product-description  {
    font-size: 1rem;
    color: #595d5e;
    font-weight: 400;
}

.product-details-area h3.product-title {
    font-size: 2rem;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 15px;
}
.product-details-area .product-in-stock, .product-details-area p.product-short-descriptions, .product-details-area .product-price, .product-details-area ul.variation-list, .product-details-area .sale-banner, .product-details-area .product-quantity, .product-details-area button.buy-now, .product-details-area .product-share-buttons, .product-details-area ul.product-offer-list  {
    margin-bottom: 20px;
}

.product-details-area .product-in-stock span {
    margin-right: 10px;
    
}



.product-details-area .product-in-stock span.in-stock {
    background: #f1f8ff;
    padding: 5px 15px;
    /* display: inline-block; */
    font-size: 0.875rem;
}

.product-details-area .product-in-stock span.review-icon {
    color: #ffb21d;
    font-size: 0.75rem;
}
.product-details-area .product-in-stock span.review-text, .product-details-area p.variation-title, .product-details-area .product-quantity-add-cart p.product-quantity-text {
    font-size: 0.875rem;
}
.product-details-area .product-price {
    word-spacing: 5px;
    
}
.product-details-area .product-price span.regular-price {
    text-decoration: line-through;
}
.product-details-area .product-price span.sale-price {
    font-size: 1.5rem;
    font-weight: 600;
}
.product-details-area p.variation-title, .product-details-area .product-quantity-add-cart p.product-quantity-text{
    margin-bottom: 10px;
}
.product-details-area ul.variation-list {
    display: flex;
    list-style: none;
    gap: 10px;
    
}
/* .product-details-area ul.variation-list li {
     background: #fff;
    
    box-shadow: 0 1px 2px #010f1c33;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 5px; 
} */
.product-details-area ul.variation-list li a span {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    /* background: red; */
    display: block;
    box-shadow: 0 1px 2px #010f1c33;
    
}
.product-details-area ul.variation-list li a  span:hover  { 
    border: 5px solid #fff;
}
.product-details-area ul.variation-list li:nth-child(1) a span{
background-color: cyan;
}
.product-details-area ul.variation-list li:nth-child(2) a span{
background-color: darkgray;
}
.product-details-area ul.variation-list li:nth-child(3) a span{
background-color: orange;
}
.product-details-area .sale-banner {
    display: flex;
    justify-content: space-between;
    border: 1px solid #FD4B6B;
    padding: 10px 20px;
    background: #fd4b6b0d;
    font-size: 1.125rem;
    font-weight: 600;
    color: #fd4b6b;
}
.product-details-area .product-quantity{
    padding: 12px 15px;
    background:#f3f5f6;
    display: inline-block;
    height: 47px;
    width: 25%;
    display: flex;
    justify-content: center;
}

.product-details-area .quantity-and-cart-button {
    display: flex;
    gap: 15px;
}
.product-details-area span.product-quantity-minus button, .product-details-area span.product-quantity-plus button {
    border: 0px;
    background: transparent;
    font-size: 1.063rem;
    margin: 0 5px;
}
.product-details-area span.product-quantity-number input {
    border: 0;
    background: transparent;
    width: 30px;
    text-align: center;
    font-size: 1.063rem;
    font-weight: 300;
}
/* Chrome, Safari, Edge, Opera */
.product-details-area span.product-quantity-number input::-webkit-outer-spin-button,
.product-details-area span.product-quantity-number input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.product-details-area span.product-quantity-number input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.product-details-area .quantity-and-cart-button button.add-to-cart {
    height: 47px;
    width: 75%;
    background-color: transparent;
    border: 1px solid #E0E2E3;
    color: #010F1C;
    font-size: 1.063rem;
    font-weight: 300;
}
.product-details-area .quantity-and-cart-button button.add-to-cart:hover{
    background-color: #010F1C;
    color: #fff;
}
.product-details-area button.buy-now {
    width: 100%;
    height: 47px;
    background: #0989FF;
    border: 0;
    color: #fff;
    font-size: 1.063rem;
}
.product-details-area button.buy-now:hover {
   
    background: #010F1C;
    
}
.product-details-area .divider {
    border-bottom: 1px solid #55585b73;
    margin: 20px 0;
}
.product-details-area .product-share-buttons span.product-share-icon i {
    border: 1px solid #55585B;
    border-radius: 50%;
    padding: 5px;
    height: 30px;
    width: 30px;
    /* display: flex; */
    text-align: center;
    margin-right: 10px;
    color: #55585B;
}
.product-details-area ul.product-offer-list {
    list-style: none;
}

.product-details-area ul.product-offer-list li {
    margin-left: 20px;
    position: relative;
}

.product-details-area ul.product-offer-list li:before {
  
    content: "";
    position: absolute;
    /* margin-right: 15px; */
    height: 16px;
    width: 16px;
    background: url(../assets/svg/check-box.svg);
    left: -23px;
    top: 4px;
}
.product-details-area .product-payment {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #f3f5f6;
    padding: 18px 30px;
}
.product-description-tab-container, .related-product {
    padding: 115px 6% 0px;
}

.product-description-tab-container .product-tab-header {
    display: flex;
    justify-content: center;
    gap: 40px;
    border-bottom: 1px solid #595d5e6b;
    padding-bottom: 20px;
    font-size: 1.25rem;
    color: #595d5e;;
}
.product-description-tab-container .product-tab-body {
    padding: 80px 0;
    display: flex;
    justify-content: center;
}

.product-description-tab-container .product-description-tab {
    width: 80%;
}
h4.product-category {
    color: #010F1C;
    font-size: 1.25rem;
    margin-bottom: 15px;
}

.product-description-tab-container h3.product-title {
    font-size: 2rem;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 15px;
}
.product-description-tab-container p.product-description {
    line-height: 2em;
}
span.tab-title:hover:after {
    /* border-bottom: 2px solid red; */
    position: relative;
    content: "";
    width: auto;
    height: 1px;
    background: #010F1C;
    display: block;
    top: 21px;
    text-align: center;
}
.divider {
    border-bottom: 1px solid #55585b73;
    
}

.related-product {
    padding-bottom: 115px;
}
.heading-area {
    text-align: center;
    margin-bottom: 40px;
}

.heading-area h2.main-heading {
    font-size: 2.75rem;
}
.heading-area p.sub-heading {
    color: #0989FF;
    font-size: 1.125rem;
}
.related-product-container {
    display: flex;
    gap: 30px;
}

.related-single-product {
    display: flex;
    flex-direction: column;
    width: 25%;
    position: relative;
}
.related-single-product span.product-reguler-price {
    text-decoration: line-through;
    color: #595d5e;
    font-size: 0.938rem;
}
.related-single-product h3.product-title{
    margin-bottom: 10px;
}
.related-single-product h3.product-title a{
    font-weight: 400;
    font-size: 1.438rem;

}
.related-single-product p.product-category{
    font-weight: 400;
    text-transform: uppercase;
    font-size: 0.938rem;
    color: #595d5e;
    margin-top: 10px;
}
.related-single-product-img{
    position: relative;
    overflow: hidden;
}
.related-single-product-img img {
    max-width: 100%;
    background: #f5f6f8;
    transition: .3s;
}
.related-single-product:hover .related-single-product-img img  {
    
    transition: .3s;
    transform: scale(1.1);
}

.related-single-product span.sale-percentage {
    position: absolute;
    background: #010F1C;
    color: #fff;
    border-radius: 50%;
    padding: 10px 6px;
    width: 40px;
    height: 40px;
    /* display: inline; */
    text-align: center;
    top: 20px;
    left: 20px;
}
a.add-to-cart {
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    text-align: center;
    background: #010f1c;
    /* display: block; */
    /* height: 45px; */
    color: #fff;
    padding: 8px;
    transition: .8s ease;;
    display: none;
}

.related-single-product:hover a.add-to-cart {
    display: block;
    transition: .8s ease;
}
.cart-wishlist-panel {
    position: absolute;
    top: 80px;
    right: -200px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 1px;
    transition: .3s ease;;
   
}
.cart-wishlist-panel span{

    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}
.related-single-product:hover .cart-wishlist-panel{

    transition: .3s ease;
    right: 20px;
}
span.add-to-cart-icon i, span.wishlist-icon i {
    background: #fff;
    padding: 13px;
    color: #010f1c;
    transition: .3s ease;
}
span.add-to-cart-icon i:hover, span.wishlist-icon i:hover {
    background: #010f1c;
    color: #fff;
    transition: .3s ease;
}


/* Footer */
footer {
    background-color: #f4f7f9;
    padding: 6% 6% 2% 6%;
    width: 100%;
}

.top-footer {
    display: flex;
    gap: 90px;
}

.social-area,
.account-area,
.information-area,
.contact-us-area {
    width: 20%;
}

.social-area div {
    margin-bottom: 25px;
    color: #010f1c;
    font-size: 1.1rem;
}

.social-area div:nth-child(3) a {
    background-color: #fff;
    display: inline-block;
    border-radius: 6px;
    height: 40px;
    width: 40px;
    line-height: 40px;
    margin-right: 5px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    transition: all 0.3s ease-out;
}

.social-area div:nth-child(3) a:hover {
    background-color: #0989FF;
    color: white;
    transition: all 0.3s ease-out;
}

.information-area h3,
.account-area h3,
.contact-us-area h3 {
    font-size: 1.4rem;
    color: #010f1c;
    margin-bottom: 20px;
}

.information-area ul li,
.account-area ul li {
    list-style: none;
    margin-bottom: 20px;
    font-size: 0.89rem;
    color: #55585B;
    transition: all 0.3s ease-out;
}

.information-area ul li a:hover,
.account-area ul li a:hover,
.contact-us-area>div>h4 a:hover,
.contact-us-area>div:nth-child(3) div a:hover {
    color: #0989FF;
    transition: all 0.3s ease-out;
}

.contact-us-area div {
    margin-top: 15px;
}

.contact-us-area>div>span {
    color: #55585B;
}

.contact-us-area>div>h4 a {
    font-size: 1.3rem;
    color: #010f1c;
}

.contact-us-area>div:nth-child(3) div {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #55585B;
}

.bottom-footer {
    margin-top: 3%;
    padding: 2% 0;
    border-top: 1px solid rgba(1, 15, 28, .1);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bottom-footer img {
    width: 60px;
}



/*media query*/
@media only screen and(max-width=1100px) {
    
}