/* univershal style for product page. */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 112px;
    width: 100%;
    background-color: blue;
}

/* productpage bredcrab style */
.productpage-breadcrumbs {
    padding: 1% 5%;
}

.productpage-breadcrumbs i {
    color: #55585B;
}

.productpage-dot {
    color: #55585B;
    font-size: 1.5cm;
}

.productpage-breadcrumbs a {
    color: #55585B;
    text-decoration: none;
    font-family: 'Baloo Bhai 2', sans-serif;
    font-size: large;
}

#current-product a {
    color: rgb(30, 29, 29);
}

/* Product details area style */
.productpage-product-details-area {
    display: flex;
    width: 100%;
    padding: 1% 5%;
}

.productpage-product-image-left {
    display: flex;
    width: 50%;
}

.productpage-product-description-right {
    display: flex;
    width: 50%;
    justify-content: flex-end;
}

.product-mini-image-area {
    width: 15%;
    min-width: 90px;
    padding-left: 5px;
}

.product1-cyan-headphone,
.product1-darkgray-headphone,
.product1-orange-headphone {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin-top: 4%;
    width: 75px;
    background-color: #f5f6f8;
}

.product1-cyan-headphone img,
.product1-darkgray-headphone img,
.product1-orange-headphone img {
    width: 70px;
}

.product-main-image-area {
    background-color: #f5f6f8;
}

.product-category,
.product-name-title,
.product-review,
.product-small-description,
.cart-section{
    padding: 2% 0%;
}
.product-description {
    width: 80%;
}
.product-category{
    font-family: 'Baloo Bhai 2', sans-serif;
    font-size: large;
    color: #55585B;
}
.product-name-title{
    font-size: 28px;
    font-family: 'Jost', sans-serif;
    font-weight: bolder;
}
.product-availability,
.stars,
.number-of-reviews{
    padding: 0% 2% 0% 0%;
}
.product-availability{
    font-family: 'Jost', sans-serif;
    color: blue;
    font-weight: 700;
    font-size: 15px;
}
.stars i{
    color:#ffb21d;
    font-size:smaller;
}
.number-of-reviews{
    font-family: 'Jost', sans-serif;
    color: #55585B;
}.product-small-description{
    font-family: 'Jost', sans-serif; 
    color: #55585B;
}
.product-price span{
    padding-right: 1%;
}
.reguler-price{
    font-size: 16px;
    font-family: 'Jost', sans-serif;
    color: #767a7d;
    text-decoration: line-through;
}
.current-price{
    font-size: 24px;
    font-family: 'Jost', sans-serif;
    color: #010F1C;
    font-weight: bolder;
}
.product-color h4{
    color: #010F1C;
    font-size: 15px;
    font-family: 'Jost', sans-serif;
}
.color-option span{
    display: inline-block;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
.cyan{
    background-color: cyan;
}
.darkgray{
    background-color: #484848;
}
.orange{
    background-color: orange;
}
.flash-sale{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 2% 5%;
    border: 2px solid #FD4B6B;
}
.flash-sale-text, .flash-sale-timer{
    font-family: 'Jost', sans-serif;
    font-size: 18px;
    font-weight: bolder;
    color: #FD4B6B;
    letter-spacing: 1%;
}
.flash-sale-text h4{
    display: inline;
    font-family: 'Jost', sans-serif;
    font-size: 18px;
    font-weight: bolder;
    color: #FD4B6B;
}
/* cart section style */
.cart-section h3{
    font-family: 'Jost', sans-serif;
    font-size: 16px;
    padding: 2%;
}
.product-quantity-addtocart{
    padding: 2% 0%;
    display: flex;
    justify-content: space-between;
}
.product-quantity-controler{
   width: 25%;
   padding: 2%;
   background-color: #f5f6f8;
}
.product-quantity{
    font-size: 20px;
    position: relative;
    left: 18px;
    padding: 4%;
}
.quantity-minus{
    position: relative;
    top: -6px;
    padding: 4%;
}
.quantity-plus{
    position: relative;
    left: 38px;
    padding: 4%;
}
.quantity-plus:hover,
.quantity-minus:hover{
    color: #0989ff;
    background-color: white;
    border-radius: 50%;
}
.add-to-cart{
    width: 70%;
    background-color: white;
    border: 1px solid #767a7d;
    color: #010F1C;
    font-family: 'Jost', sans-serif;
    font-weight: bold;
    font-size: 16px;
}
.add-to-cart:hover{
    background-color: #010F1C;
    color: white;
    transition-duration: 500ms;
}
.buy-now {
    width: 100%;
    padding: 2%;
    font-family: 'Jost', sans-serif;
    font-size: 16px;
    font-weight: bolder;
    background-color: #0989ff;
    border-color: white;
    box-shadow: none;
    text-align: center;
    color: white;
}
.buy-now:hover{
    background-color: #010F1C;
    transition-duration: 500ms;
}
