/* universal style  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
}

a {
  text-decoration: none;
  color: currentColor;
}

header {
  height: 112px;
  width: 100%;
  background-color: burlywood;
}
/* Profilepage left container style  */
.profile-page-main-continer {
  width: 100%;
  padding: 120px 6%;
}

.profile-page-inner-continer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.profile-page-left-container {
  width: 30%;
  height: fit-content;
  margin: 0px 12px;
  box-shadow: 0 30px 50px #052f281f;
}
.profile-page-left-container button {
  width: 100%;
  padding: 14px 30px;
  font-size: 15px;
  background-color: #ffffff;
  border: none;
  text-align: left;
}
.profile-page-left-container button i {
  padding-right: 7px;
}
/* Profilepage right container style  */
.profile-page-right-container {
  margin: 0px 12px;
  width: 63%;
}
/* every right tab common style  */
.profile,
.personal-information,
.address,
.orders,
.notification {
  padding: 25px 30px 30px;
  width: 100%;
  box-shadow: 0 30px 50px #052f281f;
  margin-bottom: 15%; /*this style have to remove. it is only for my use */
}
/* profile section style */
.login-section {
  display: flex;
  align-items: center;
  padding-bottom: 80px;
}
.profile-description {
  width: 50%;
  display: flex;
  align-items: center;
}
.profile-picture {
  position: relative;
}
.profile-picture img {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  margin-right: 16px;
}
.profile-picture i {
  padding: 8px;
  border-radius: 50%;
  text-align: center;
  background-color: #0989ff;
  position: absolute;
  bottom: 16px;
  right: 6px;
  border: 2px solid white;
}
.profile-picture i:hover {
  background-color: rgb(5, 250, 5);
}
.user-profile-data h3 {
  font-size: 24px;
  font-weight: 700;
}
.user-profile-data p {
  font-size: 14px;
  font-weight: 400;
}
.logout {
  width: 50%;
  text-align: right;
}
.logout button {
  background-color: white;
  padding: 6px 18px;
  border: 1px solid rgba(1, 15, 28, 0.12);
  color: #010f1c;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.5s ease-in-out;
}
.logout button:hover {
  background-color: #0989ff;
  color: white;
}
.othernav-option {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.download,
.order,
.wishlist,
.giftbox {
  text-align: center;
  position: relative;
  padding: 27px 30px 25px;
}
.download i,
.order i,
.wishlist i,
.giftbox i {
  font-size: 60px;
}
.download p,
.order p,
.wishlist p,
.giftbox p {
  height: 25px;
  width: 25px;
  color: white;
  background-color: #0989ff;
  border-radius: 50%;
  position: absolute;
  text-align: center;
  line-height: 25px;
}
/* this line of code is written only for position the element on icon  */
.download p {
  top: 30px;
  right: 39px;
}
.order p {
  top: 26px;
  right: 25px;
}
.wishlist p {
  top: 24px;
  right: 20px;
}
.giftbox p {
  top: 17px;
  right: 23px;
}
.download h4,
.order h4,
.wishlist h4,
.giftbox h4 {
  font-size: 18px;
  font-weight: 600;
}
/* Personal Details style */
.personal-information h4 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 25px;
  display: inline-block;
}
.name,
.facebook,
.mobile {
  width: 48%;
  padding: 2% 1%;
  border: 1px solid black;
  display: inline-block;
  margin-right: 1%;
  margin-bottom: 2%;
}
.email,
.twitter,
.user-address {
  width: 48%;
  padding: 2% 1%;
  border: 1px solid black;
  display: inline-block;
  margin-left: 2%;
  margin-bottom: 2%;
}
.name input,
.email input,
.facebook input,
.twitter input,
.mobile input,
.user-address input {
  border: none;
  width: 92%;
}
.name i,
.email i,
.facebook i,
.twitter i,
.mobile i,
.user-address i {
  margin-right: 10px;
}
#gender {
  width: 100%;
  padding: 2% 1%;
  margin-bottom: 2%;
}
#bio {
  width: 100%;
  height: 5%;
  padding: 2%;
  resize: none;
  margin-bottom: 25px;
}
.profile-update-button {
  font-size: 16px;
  font-weight: 400;
  padding: 14px 39px;
  box-shadow: none;
  background-color: #010f1c;
  border: 1px solid #010f1c;
  color: #ffffff;
  transition: background-color 500ms ease-in-out;
}
.profile-update-button:hover {
  font-size: 16px;
  font-weight: 400;
  background-color: #ffffff;
  color: #010f1c;

}
/* Address style  */
.address {
  display: flex;
  padding: 25px 30px 30px;
  justify-content: space-around;
}
.billing-address,
.shipping-address {
  display: flex;
}
.billing-address i {
  font-size: 50px;
  padding-right: 15px;
  color: #0989ff;
}
.shipping-address i {
  font-size: 40px;
  padding-right: 15px;
  color: #0989ff;
}
.address-details h3 {
  font-size: 20px;
  font-weight: 700px;
  margin-bottom: 20px;
  color: #010f1c;
}
.add-paragraph {
  font-size: 14px;
  font-weight: 400;
  color: #55585b;
}
.add-heading {
  display: inline;
  font-weight: 500;
  color: #010f1c;
}
.street,
.city,
.state,
.ph-no,
.zip-code,
.country-call-code,
.country {
  margin-bottom: 10px;
}
/* My orders Styles */
.order-table tr {
  border: 0.5px solid #55585b;
}
.order-table td {
  text-align: left;
}
.order-table {
  border-collapse: collapse;
  width: 100%;
}
.order-id,
.table-heading,
.action-button,
.status,
.product-title {
  padding: 16px 24px;
}
.table-heading,
.order-id {
  font-size: 14px;
  font-weight: bold;
}
.order-id {
  color: #0989ff;
}
.product-title {
  font-size: 14px;
  color: #010f1c;
  font-weight: 400;
}
.status {
  font-size: 14px;
  font-weight: 400;
}
.st-pending {
  color: #6364db;
}
.st-need-reply {
  color: #d93d1e;
}
.st-resolved {
  color: #08af5c;
}
.st-on-hold {
  color: #ffb422;
}
.action-button button {
  padding: 6px 18px;
  background-color: #ffffff;
  border: 1px solid rgba(1, 15, 28, 0.12);
  font-size: 14px;
  font-weight: 500;
  color: #010f1c;
  transition: background-color 0.5s ease-in-out;
}
.action-button button:hover {
  background-color: #0989ff;
  border: 1px solid currentColor;
  /* border: none; */
  color: white;
}
/* notification style  */
.notification-heading {
  font-size: 24px;
  margin-bottom: 10px;
  color: #010f1c;
}
.notificaion-paragraph {
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  color: #55585b;
  margin-bottom: 20px;
}
