* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* font-family: 'Jost', sans-serif; */
/* font-family: 'Ubuntu', sans-serif; */

.cursor-pointer {
    cursor: pointer;
}

.blue-hover:hover {
    color: #10d2f5;
    transition: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}

a {
    text-decoration: none;
    color: currentColor;
}

/* Sticky Navbar */
.header-nav {
    z-index: 3;
    position: sticky;
    top: 0;
    animation: fadeInDown 0.5s ease-in-out 0ms;
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }

    100% {
        transform: translateY(0);
    }
}

.sticky {
    display: none;
}

/* Top-Navbar */
.nav-top {
    height: 33px;
    width: 100%;
    background-color: #010f1c;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 6%;
}

.nav-top>div:first-child {
    display: flex;
    align-items: center;
    gap: 5px;
}

.nav-top div>span {
    color: rgb(222, 220, 220);
    font-size: 13px;
}

/* <!-- Top Nav Link Sections --> */

.nav-link {
    color: rgb(255, 255, 255);
    font-size: 13px;
}

.nav-links {
    display: flex;
}

.nav-link,
.drop-down li {
    list-style: none;
    height: 100%;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.drop-down {
    position: absolute;
    padding: 0.5rem 0;
    margin: 0.5rem -0.5rem;
    background: rgb(255, 255, 255);
    color: black;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    font-size: 12px;
    display: none;
    z-index: 2;
}

.drop-down li:hover {
    color: #10d2f5;
}

/* Middle NavBar */
.navbar {
    background-color: #fff;
    height: 74px;
    width: 100%;
    padding: 27px 5.888%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.navbar .nav-hamburger {
    display: none;
}

/* Nav Logo */
.navbar .navbar-logo {
    height: 35px;
}

/* Nav Search */
.navbar-search {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px 10px;
    border: 1px solid grey;
    border-radius: 50px;
}

.navbar-search input {
    outline: none;
    border: none;
    padding: 10px;
    border-radius: 15px;
    color: black;
    caret-color: gray;
}

.text-black span {
    color: black;
}

.text-black .drop-down {
    width: 150px;
    text-align: left;
}

.vertical-line {
    width: 1px;
    height: 20px;
    background-color: gray;
    content: "";
}

/* Nav Account  */
.nav-account {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.nav-account-logo {
    border: 1px solid gray;
    height: 44px;
    width: 44px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-account-logo img {
    height: 21px;
    width: 17px;
}

.nav-account-text :nth-child(1) {
    color: #767A7D;
    font-size: 13px;
}

.nav-account-text :nth-child(2) {
    font-size: 15px;
}

/* Nav Cart  */
.nav-cart a:hover #heart-icon #Stroke-1,
.nav-cart a:hover #heart-icon #Stroke-3,
.nav-cart a:hover svg path {
    stroke: #10d2f5;
    transition: all;
    transition-duration: 250ms;
    transition-timing-function: ease-out;
}

.nav-cart {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

}

.nav-cart-number {
    background-color: #fd4b6b;
    color: white;
    font-size: 12px;
    display: inline-block;
    height: 25px;
    width: 25px;
    text-align: center;
    line-height: 21px;
    border: 3px solid white;
    border-radius: 50%;
    position: absolute;
    margin-top: -10px;
    margin-left: -8px;
}

/* Nav Bottom */
.nav-bottom {
    width: 100%;
    height: 48px;
    padding: 0px 5.8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #e5e7e8;
}

/* nav-bottom-all-category */
.nav-bottom-all-category {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 48px;
    width: 250px;
    background-color: #10d2f5;
    padding: 10px;
    transition: all 0.3s 0s ease-out;
}

.nav-bottom-all-category:hover {
    background-color: #010f1c;
    color: white;
    transition: all 0.3s 0s ease-out;
}

.nav-bottom-all-category>ul {
    width: 100%;
    list-style: none;
    background-color: #fff;
    position: absolute;
    top: 48px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    display: none;
}

.nav-bottom-all-category>ul li {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-bottom-all-category>ul>li:nth-child(-n+4)>a {
    border-bottom: 1px solid rgba(203, 201, 201, 0.623);
}

.nav-bottom-all-category .allCatDropDown {
    display: block;
    animation: allCatDrop 0.3s cubic-bezier(1, 1.34, 0.51, 1.13) 0ms;
}

@keyframes allCatDrop {
    0% {
        opacity: 0;
        transform: translateY(-5px);
    }

    100% {
        opacity: 1;
    }
}

.nav-bottom-all-category>ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 15px;
    color: #55585B;
    padding: 14px 0;
}

.nav-bottom-all-category>ul li a:hover {
    color: #10d2f5;
}

.nav-bottom-all-category>ul li img {
    height: 50px;
    width: 50px;
    object-fit: contain;
}

.nav-bottom-all-category ul li ul {
    list-style: none;
    position: absolute;
    background-color: #fff;
    color: #55585B;
    left: 236px;
    min-width: 150px;
}

.nav-bottom-all-category ul li:nth-child(1)>ul {
    background-color: white;
    top: 0;
    display: none;
}

.nav-bottom-all-category ul li:nth-child(1):hover>ul {
    display: block;
}

.nav-bottom-all-category ul li:nth-child(2)>ul {
    background-color: white;
    display: none;
}

.nav-bottom-all-category ul li:nth-child(2):hover>ul {
    display: block;
}

.nav-bottom-all-category ul li:nth-child(3)>ul {
    background-color: white;
    display: none;
}

.nav-bottom-all-category ul li:nth-child(3):hover>ul {
    display: block;
}

.nav-bottom-all-category ul li:nth-child(4)>ul {
    background-color: white;
    display: none;
}

.nav-bottom-all-category ul li:nth-child(4):hover>ul {
    display: block;
}

.nav-bottom-all-category ul li:nth-child(5)>ul {
    background-color: white;
    display: none;
}

.nav-bottom-all-category ul li:nth-child(5):hover>ul {
    bottom: 0;
    display: block;
}


/* Nav Bottom Items  */
.nav-bottom-items {
    width: 600px;
    margin-right: 130px;
}

.nav-bottom-items ul li {
    transition: all 0.2s 0s ease-out;
}

.nav-bottom-items ul li:hover {
    color: #10d2f5;
    transition: all 0.2s 0s ease-out;
}

.nav-bottom-items ul {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 20px;
}

.nav-bottom-contact {
    height: 48px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.nav-bottom-contact-text p {
    font-size: 13px;
    color: #767A7D;
}

.nav-bottom-contact-text a {
    font-size: 14px;
}

/* Main Content */
/* Hero Section */
.hero {
    width: 100%;
    height: 80vh;
    background-color: #115061;
}

/* Product Category */
.product-category {
    width: 100%;
    padding: 4% 6%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.product-category-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-category-div div {
    height: 180px;
    width: 180px;
    background-color: #F6F7F9;
    background-image: radial-gradient(95.56% 95.56% at 50% 50%, #FFFFFF 0%, #BDDEFF 100%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-category-div a {
    margin-top: 5px;
    margin-bottom: 5px;
    line-height: 25px;
    font-size: 1.3rem;
}

.product-category-div p {
    color: #767A7D;
    font-size: 0.88rem;
}

.product-category-div img {
    object-fit: contain;
    height: 105px;
    width: 80px;
    transition: transform 0.2s ease-out;
}

.product-category-div:hover img {
    transform: scale(1.1);
}

/* Features-Area */
.features-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1% 6%;
}

.features-area-div {
    width: 270px;
    height: 90px;
    border-radius: 10px;
    background-color: #f6f7f9;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.features-area-div p:nth-child(2) {
    color: #767A7D;
    margin-top: 3px;
    font-size: 13px;
    font-weight: 400;
}

/* Trending Products Area */
.trending-products {
    width: 100%;
    padding: 1% 6%;
}

.trending-products-header {
    width: 100%;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.trending-products-header h1 {
    color: #010f1c;
    font-size: 44px;
}

.trending-products-header span {
    width: 400px;
    height: 1px;
    background-color: rgb(219, 218, 218);
}

.trending-products-header ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.trending-products-header ul li {
    font-size: 1.2rem;
    cursor: pointer;
    color: #767a7d;
}

/* .trending-products-product-area, .dod-products,.ga-products-area  */
.trending-products-product-area,
.dod-products-area,
.ga-products-area {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

/* Tending Products and dod products,ga-products>>>>> Single product */
.tp-product,
.dod-product,
.ga-product {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    flex-grow: 1;
    transition: all 0.2s 0s ease-out;
}

.tp-product:hover,
.dod-product:hover,
.ga-product:hover {
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.tp-product-out-of-stock {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #fd4b6b;
    color: white;
    width: 45%;
    line-height: 16px;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    /* visibility: hidden; */
    /* opacity: 0; */
}

/* .tp-product:hover .tp-product-out-of-stock {
    visibility: visible;
    opacity: 1;
    z-index: 4;
    transform: translateX(-20px);
    transition: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
} */


.tp-product:hover .tp-product-image,
.dod-product:hover .dod-product-image,
.ga-product:hover .ga-product-image {
    transform: scale(1.1);
}

.tp-product .tp-product-image {
    margin-top: 10px;
    width: 250px;
    height: 250px;
    object-fit: contain;
    transition: transform 0.3s ease-out;
}

.dod-product .dod-product-image {
    margin-top: 10px;
    width: 280px;
    height: 280px;
    object-fit: contain;
    transition: transform 0.3s ease-out;
}

.ga-product .ga-product-image {
    margin-top: 10px;
    width: 230px;
    height: 230px;
    object-fit: contain;
    transition: transform 0.3s ease-out;
}

.tp-cart-area,
.dod-cart-area,
.ga-cart-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    position: absolute;
    left: 100%;
    top: 25%;
    visibility: hidden;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    border-radius: 5px;
    transition: all 0.3s 0s ease-out;
}

.tp-product:hover .tp-cart-area,
.dod-product:hover .dod-cart-area,
.ga-product:hover .ga-cart-area {
    visibility: visible;
    transform: translateX(-50px);
    transition: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}

.tp-cart-area span,
.dod-cart-area span,
.ga-cart-area span {
    padding: 7px 10px;
}

.tp-cart-area>span:nth-child(1),
.dod-cart-area>span:nth-child(1),
.ga-cart-area>span:nth-child(1) {
    border-radius: 5px 5px 0 0;
}

.tp-cart-area>span:nth-child(3),
.dod-cart-area>span:nth-child(3),
.ga-cart-area>span:nth-child(3) {
    border-radius: 0 0 5px 5px;
}

.tp-cart-area span:hover,
.dod-cart-area span:hover,
.ga-cart-area span:hover {
    background-color: #010f1c;
    transition: all;
    transition-duration: 0.6s;
    transition-timing-function: ease-out;
}

.tp-cart-area span:hover .lucide path,
.tp-cart-area span:hover .lucide circle,
.dod-cart-area span:hover .lucide path,
.dod-cart-area span:hover .lucide circle,
.ga-cart-area span:hover .lucide path,
.ga-cart-area span:hover .lucide circle {
    stroke: white;
    transition: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}

.product-details,
.dod-product-details,
.ga-product-details {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6px;
    padding: 20px 30px;
    border-top: 1px solid rgb(234, 231, 231);
}

.product-details>small:hover,
.product-details div:nth-child(2):hover,
.dod-product-details>small:hover,
.dod-product-details div:nth-child(2):hover,
.ga-product-details>small:hover,
.ga-product-details div:nth-child(2):hover {
    color: #0989FF;
    transition: all 250ms ease-out;
}

.product-details small,
.dod-product-details small,
.ga-product-details small {
    color: #767a7d;
    font-size: 0.75rem;
}

.product-details div i,
.dod-product-details div i,
.ga-product-details div i {
    color: #FFB21D;
    font-size: 0.75rem;
}

.tp-product-old-price,
.dod-product-old-price,
.ga-product-old-price {
    text-decoration: line-through;
    font-size: 0.75rem;
    color: #767a7d;
}

.tp-product-new-price,
.dod-product-new-price,
.ga-product-new-price {
    color: #0989FF;
}

/* Trending Products Banner*/
.trending-products-banner-area {
    padding: 2% 6%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

/* First Banner */
.tp-first-banner {
    width: 65%;
    background: url(../assets/images/tranding-products/product-banner-1.jpg);
    height: 260px;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    padding: 5%;
    color: #010f1c;
}

.tp-first-banner div:nth-child(2) {
    width: 255px;
    height: 70px;
    margin-bottom: 5px;
    font-weight: 500;
    line-height: 1.29;
    font-size: 1.8rem;
}

.tp-banner-btn,
.ga-banner-btn {
    width: 150px;
}

.tp-banner-btn i,
.dod-all-deals i,
.ga-banner-btn i {
    margin-left: 6px;
    transition: all 0.3s ease-out;
}

.tp-banner-btn:hover i,
.tp-banner-btn:hover span,
.dod-all-deals:hover i,
.ga-banner-btn:hover i {
    transform: translateX(7px);
    transition: all 0.3s ease-out;
}

/* second-banner */
.tp-second-banner {
    width: 35%;
    background: url(../assets/images/tranding-products/product-banner-2.jpg);
    height: 260px;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 13px;
    padding: 5% 3%;
    color: #010f1c;
}

.tp-second-banner div:first-child {
    font-size: 1.4rem;
    width: 175px;
    height: 70px;
}

/* <!-- ===========Deal Of The Day========== --> */
.dod {
    background-color: #ecf2f7;
    margin-top: 50px;
    padding: 6%;
}

/* DoD Header  */
.dod-header {
    width: 100%;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dod-header h1 {
    font-size: 44px;
    color: #010f1c;
}

.dod-header>span {
    height: 2px;
    background-color: #fff;
    width: 30%;
}

.dod-header>div {
    color: white;
    background-color: #10d2f5;
    padding: 10px 15px;
    border-radius: 6px;
    transition: all 0.3s ease-out;
}

.dod-header>div:hover {
    background-color: black;
    transition: all 0.3s ease-out;
}

.dod-date-time {
    display: flex;
    align-items: center;
    list-style: none;
    text-transform: uppercase;
    gap: 10px;
    margin: 10px 0 10px;
}

.dod-date-time li {
    text-align: center;
    height: 50px;
    width: 50px;
    padding: 10px;
    font-size: 0.62rem;
    border: 1px solid #E4E5E9;
    border-radius: 5px;
}

.dod-date-time li span {
    font-size: 1rem;
}

/* <!-- ===========Electronics Gadgets Area============ --> */
.gadgets-area {
    background-color: #fff;
    padding: 6%;
    display: flex;
    gap: 18px;
}

.gadget-banner {
    background-color: #fff;
    height: fit-content;
    width: 30%;
    margin-right: 20px;
    position: sticky;
    top: 74px;
}

.ga-products-area {
    width: 100%;
}

.ga-first-banner {
    background-color: #fff;
    position: relative;
    padding: 30px;
    width: 348px;
    border-radius: 10px;
    border: 2px solid #fd4b6b;
    overflow: hidden;
}

.ga-first-banner div:first-child {
    font-size: 1.3rem;
    width: 150px;
    padding: 5px;
    border-bottom: 1.5px solid #0989FF;
}

.ga-first-banner ul {
    margin: 15px 0;
    list-style-position: inside;
    font-weight: 500;
    font-size: 0.89rem;
    color: #55585B;
}

.ga-first-banner ul li {
    margin-bottom: 10px;
}

.ga-first-banner img {
    position: absolute;
    bottom: 0;
    right: -10px;
}

.ga-banner-btn span {
    font-size: 0.89rem;
}

.ga-second-banner {
    margin-top: 10px;
    background: url(../assets/images/electronics-gadgets/gadget-banner-1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 180px;
    width: 348px;
    border-radius: 10px;
    padding: 50px 25px;
}

.ga-second-banner span {
    color: white;
    font-size: 0.90rem;
}

.ga-second-banner>div {
    color: white;
    font-size: 1.2rem;
    width: 215px;
    margin-top: 5px;
}


































@media only screen and (max-width: 1080px) {

    .nav-top,
    .navbar-search,
    .nav-account,
    .nav-cart,
    .nav-bottom,
    .header-nav {
        display: none;
    }


    .navbar {
        position: sticky;
        top: 0;
        height: 170px;
        padding: 20px 30px;
    }

    .navbar .navbar-logo {
        height: 200px;
        width: 450px;
        object-fit: contain;
    }

    .navbar .nav-hamburger {
        display: block;
    }

    .product-category {
        flex-wrap: wrap;
    }

    .product-category-div {
        height: 800px;
        width: 100%;
    }

    .product-category-div div {
        height: 550px;
        width: 550px;
    }

    .product-category-div img {
        height: 260px;
        width: 220px;
    }

    .product-category-div a {
        margin-top: 20px;
        margin-bottom: 43px;
        font-size: 3.7rem;
    }

    .product-category-div p {
        font-size: 2.4rem;
    }

    /* features-area */
    .features-area {
        flex-wrap: wrap;
        gap: 20px;
    }

    .features-area-div {
        border-radius: 30px;
        width: 100%;
        height: 300px;
        justify-content: flex-start;
        padding: 50px 100px;
        gap: 45px;
    }

    .features-area-div img {
        width: 100px;
        height: 100px;
    }

    .features-area-div p:nth-child(1) {
        font-size: 2.7rem;
        margin-bottom: 10px;
    }

    .features-area-div p:nth-child(2) {
        font-size: 2rem;
    }
}